<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Titre{% endblock %}</title>
    <link rel="icon" href="./logo/LogoLight.svg" />
    {% block stylesheets %} <link rel="stylesheet" href={{
      asset("styles/app.scss")
    }}
    /> {% endblock %} 
    {% block javascripts %} 
      {% block importmap %}{{
        importmap("app")
      }}
      {% endblock %} 
      <script defer src={{ asset('bootstrap.bundle.min.js') }}></script>
    {% endblock %}
  </head>
  <body>
    {% block header %}
      <header class="bg-light shadow-sm pt-2 pb-2">
        <nav class="navbar navbar-expand-lg navbar-light container">
          <a class="navbar-brand d-flex align-items-center" href={{ path('app_home') }}>
            <img
              src="/logo/LogoBrandDark.svg"
              alt="Logo"
              height="100"
              class="me-2"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto nav-underline">
              <li class="nav-item">
                <a class="nav-link {{ title == "Accueil" ? "active" : "" }}" href={{ path('app_home') }}>Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{ title == "Services" ? "active" : "" }}" href={{ path('app_services') }}>Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{ title == "A propos" ? "active" : "" }}" href={{ path('app_about') }}>À propos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{ title == "Contact" ? "active" : "" }}" href={{ path('app_contact') }}>Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    {% endblock %}
    <main>{% block main %}{% endblock %}</main>
    {% block footer %}
      <footer class="bg-dark text-white py-4 mt-5">
        <div class="container text-center">
            <a class="navbar-brand d-flex align-items-center justify-content-center mb-3" href={{ path('app_home') }}>
                <img src="/logo/LogoLight.svg" alt="Logo" width="50" height="50" class="me-2">
                <span class="fw-bold fs-3">Novarca <span class="fw-bold fs-5">Constructions</span></span>
            </a>
            <ul class="list-unstyled d-flex justify-content-center mb-3">
                <li class="mx-3"><a class="text-white text-decoration-none" href={{ path('app_home') }}>Accueil</a></li>
                <li class="mx-3"><a class="text-white text-decoration-none" href={{ path('app_services') }}>Services</a></li>
                <li class="mx-3"><a class="text-white text-decoration-none" href={{ path('app_about') }}>À propos</a></li>
                <li class="mx-3"><a class="text-white text-decoration-none" href={{ path('app_contact') }}>Contact</a></li>
                <li class="mx-3"><a class="text-white text-decoration-none" href={{ path('app_rgpd') }}>RGPD</a></li>
            </ul>
            <p class="mb-0">&copy; 2025 Novarca - Tous droits réservés.</p>
        </div>
      </footer>
    {% endblock %}
  </body>
</html>